.navbar-custom{
    /* background-color: #EA840D; */
    /* background-color: #DCDCDC; */
    background-color: #FBFBFF;
}
/* .search-bar{
    /* width: 200%; */
/* } */
.logo{
    height: 70px;
    width: 90px;
    /* padding-left: 5px; */
    /* padding-right: 100px; */
}
.post-ad-link{
    background-color: #EA840D;
    color: white;
    border-radius: 9px;
    font-size: 16px;
    margin: 4px 3px;
    padding: 6px;
    border: 12px;
}